/* h1{
    color: red;
} */


/* TOPICS
    BOX MODEL
    OVERFLOW
    DISPLAY
*/

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
    color:red;
}

/*
BORDER
--------------
border -> thickness, style(solid, dotted, dashed) color
padding
margin

DISPLAY
--------------
Block -> Default property
Inline -> It will use the space available (Margin X // Padding works)
Inline-block -> It has combined property of inline and block (Both works)
none -> Element is hidden
*/

.box{
  border: 3px solid red;
  width: 400px;
  padding: 10px;
  margin: 50px auto;/*auto -> will automatically adjusts left and right sides and 50px is for all 4 sides in general*/
  /*auto only works left and right till margin*/
  border-radius: 16px;
  height: 360px;
  overflow: scroll;
}

.card{
    
    width: 300px;
    border: 6px solid lightgray;
    border-radius: 14px;
    margin: auto;
    padding: 8px;
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.btn{
    border:1px solid gray;
    padding: 15px 40px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    width: 90px;
}

